<!-- <button onclick="topFunction()" id="myBtn" title="Go to top" class="arr-to-top fas fa-caret-square-up"></button> -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="text-light bowlby super">Welcome to WebCamp!</h1>
          <p class="text-light lead font-weight-bold montserrat">View our hand-picked campgrounds from all over the world.</p>
          <a href="/campgrounds/new" class="btn btn-primary text-light"><i class="fa fa-plus font-sm"></i> Add a new Campground</a>
        </div>
      </div>
    </div>
    
  </header>
  
  <nav id="searchNav" class="navbar navbar-expand navbar-light bg-white shadow-sm">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
            </a>
          <form action="/campgrounds/sortby" method="POST">
              
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <button id="HighestRated" type="submit" class="dropdown-item">Highest Rated</button>
                <button id="MostReviewed" type="submit" class="dropdown-item">Most Reviewed</button>
                <button id="LowestPrice" type="submit" class="dropdown-item">Lowest Price</button>
                <button id="HighestPrice" type="submit" class="dropdown-item">Highest Price</button>
              </div> 
              
          </li>
          <input type="text" name="sortby" value="<%= sortby %> " id="sortby" class="border-0 text-secondary nav-item">
        </form>
        </ul>
        <div class="d-none d-md-block">
          <form action="/campgrounds/search" method="POST" class="input-group">
            <input type="text" class="form-control" type="text" name="search" placeholder="Search Campgrounds..." aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-primary border-0" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <div class="mt-4 d-block d-md-none container">
    <form action="/campgrounds/search" method="POST" class="input-group">
      <input type="text" class="form-control" type="text" name="search" placeholder="Search Campgrounds..." aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-primary border-0" type="submit">
              <i class="fa fa-search"></i>
            </button>
      </div>
  </div>
  
      
        
        
            
          


  

 
  