<%- include("./partials/header") %>
<div class="col-8 mr-auto ml-auto rounded mt-4 bg-white shadow">

    <div class="container">
        <h2 class="text-center pt-4">About WebCamp</h2>
        <h4 class="border-bottom p-2">What is WebCamp?</h4>
        <p class="container" style="text-indent: 50px;">
            <span class="text-primary"><b>WebCamp</b></span> is a campground reviewing website. 
            Users can create their own campgrounds or review others' campgrounds. 
            To get started, simply <a href="register">sign up.</a>
        </p>
        <h4 class="border-bottom p-2">Features</h4>
            <ul>
                <li>Users can create, edit, and remove campgrounds.</li>
                <li>Users can review campgrounds once, and edit or remove their review.</li>
                <li>User profiles have more information on the user, such as their full name, 
                    phone number,</br> campgrounds, and the option to edit their profile or delete their account.</li>
                <li>Users can search campground by name.</li>
                <li>Users can sort campgrounds by highest rating, most reviewed, lowest price, or highest price</li>
            </ul>
        <h4 class="border-bottom p-2">More Information</h4>
            <p style="text-indent: 50px;">
                This was originally named YelpCamp and a project for a web development course taught by Colt Steele. 
                YelpCamp was created using Bootstrap, Node.js, Express, and MongoDB.
            </p>
        <h4 class="border-bottom p-2">Improvements</h4>
            <ul>
                <li>Designs and layouts</li>
                <li>Mobile responsive</li>
                <li>Campgrounds searching</li>
                <li>Campgrounds sorting</li>
                <li>Campgrounds pricing</li>
                <li>Campgrounds rating</li>
                <li>Additional campground information</li>
                <li>Well functioning google maps</li>
                <li>Removed duplication of reviews (one user, one review per campground)</li>
                <li>Comment form on campground's show page</li>
                <li>Added user's profile page</li>
            </ul>
            <em class="lead mb-4">Some screenshots of Colt Steele's YelpCamp:</em>
                <img src="../screenshots/Untitled.png">
                <img src="../screenshots/Untitled2.png">
        
        <div class="text-right w-100 mt-5">
            <a href="https://www.facebook.com/raymerorale"><btn class="btn btn-primary mb-4">About the Developer<i class="ml-2 fa fa-caret-right"></i></btn></a>
        </div>   
            
    </div>
</div>

<%- include("./partials/footer") %>
