<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to WebCamp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" type="text/css" href="/bootstrap.css"/>
        <link rel="stylesheet" href="/landing.css">
        <link rel="icon" href="/header-icon-webcamp.png">
        <link href="https://fonts.googleapis.com/css?family=Righteous|Yanone+Kaffeesatz&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>

    
    <div id="landing-header">
        <div class="text-center">
            <img src="/icon-webcamp.png" style="width: 200px">
        </div>
        <h1 class="bigger-font righteous text-primary">Web<span class="text-secondary">Camp</span></h1>
		<a href="/campgrounds" class="btn btn-lg btn-info">View All Campgrounds</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <style type="text/css">
        footer{
            display: none;
        }
    </style>
<%- include("partials/footer") %>
