<%- include("./partials/header") %>
<%- include("./partials/alert") %>
<div class="col-10 col-md-6 col-lg-4 rounded ml-auto mr-auto mt-5 bg-white mt-5 p-3 shadow">
    <div class="text-center">
    <img src="/logo-webcamp.png" style="width: 200px">
    </div>
    <div class="mt-4">
        <form class="needs-validation" action="/login" method="POST" novalidate>
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" type="text" name="username" placeholder="username" required>
                <div class="invalid-feedback">
                    Please enter your username.
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="password" placeholder="password" required>
                <div class="invalid-feedback">
                    Please enter your password.
                </div>
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary w-100">Log In</button>
            </div>
            <p class="text-center">Don't have an account? <a href="/register">Sign up</a></p>
        </form class="needs-validation" >
    </div>
</div>
<%- include("./partials/footer") %>