<%- include("./partials/header") %>
<%- include("./partials/alert") %>
<div class="col-10 col-md-6 col-lg-4 rounded ml-auto mr-auto mt-4 bg-white p-3 shadow">
    <h1 class="pt-2 mb-3 text-center text-primary">Sign<span class="text-secondary">Up</span></h1>
    <div class="mt-4">
        <p class="font-sm text-secondary">Fields marked * are required.</p>
        <form class="needs-validation" action="/register" method="POST" novalidate>
            <div class="form-group">
                <label>Complete Name*</label>
                <input name="completeName" class="form-control" type="text" placeholder="Complete Name" required>
            </div>
            <div class="form-group">
                <label>Email*</label>
                <input name="email" class="form-control" type="text" placeholder="juan@delacruz.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            </div>
            <div class="form-group">
                <label>Contact*</label>
                <input name="contact" class="form-control" type="text" placeholder="09876543210" pattern="[0-9]{11}" required>
            </div>
            <div class="form-group">
                <label>Display Picture</label>
                <div class="custom-file">
                    <input name="displayImg" type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose image...</label>
                </div>
            </div>
            <div class="form-group">
                <label>Username*</label>
                <input class="form-control" type="text" name="username" placeholder="username" required>
            </div>
            <div class="form-group">
                <label>Password*</label>
                <input id="password" class="form-control" type="password" name="password" placeholder="password" required>
            </div>
            <div class="form-group">
                <label>Confirm Password*</label>
                <input id="confirm_password" class="form-control" type="password" placeholder="re-type password" required>
                <div id="validate" class="valid-feedback">
                
                </div>
            </div>
            
            <div class="form-group mt-4">
                <button class="btn btn-primary w-100">Register Now</button">
            </div>
            <p class="text-center">Already have an account? <a href="/login">Login</a></p>
        </form>
    </div>
</div>


<%- include("./partials/footer") %>