.masthead {
    height: 40vh;
    min-height: 400px;
    background-image: url('https://wallpaperstream.com/wallpapers/full/mountain/Stubai-Glacier-Snowy-Mountains-Wallpaper-HD.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.righteous{
    font-family: 'Righteous', cursive;
}
.bowlby{
    font-family: 'Bowlby One SC', cursive;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
.muli{
    font-family: 'Muli', sans-serif;
}
.super{
    font-size:60px !important;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}