
img{
    width:100%;
}
footer{
    position: absolute;
    font-size: 14px !important;
}

.navbar-brand{
    font-family: 'Bowlby One SC', cursive;
}
.theme-bg-color{
    background-color: #6699ff !important;
}
.light{
    color: #e6e6e6 !important;
}
textarea{
    height: 120px !important;
}
@media (max-width: 576px) {
    .container{
        width: 100%;
    }
}
.img-resize{
    height: 240px;
}
.container-form{
    width: 50%;
    margin: auto;
}
.font-sm{
    font-size: 12px !important;
}