
img{
    width:100%;
}
footer{
    position: absolute;
    font-size: 14px !important;
}
.theme-bg-color{
    background-color: #6699ff !important;
}
.light{
    color: #e6e6e6 !important;
}
textarea{
    height: 120px !important;
}
@media (max-width: 576px) {
    .container{
        width: 100%;
    }
}
.img-resize{
    height: 240px;
}

.font-sm{
    font-size: 12px !important;
}
.error{
    color:red !important;
    
}
.error-text{
    border:1px solid red !important;
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: none !important;
    background-repeat: no-repeat;   
}
